/* 
================================
COLORS STYLE
 #333 
 
 #fff 
 
 #3dc8d5, 
 
 #8507e1
 
 #ccc
================================


================================
GENERAL STYLE
================================

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 

================================
HEADER STYLE
================================

*/


/* 

================================
MAIN STYLE
================================

*/


/* 

================================
FOOTER STYLE
================================

*/